@using System.Web.Mvc.Html
@model HomeTask.Core.ViewModels.StudentRegistrationViewModel
@{
    ViewBag.Title = "Регистрация";
    Layout = "~/Views/Shared/Layout/_LayoutLogOn.cshtml";
}
@section header
{
    <script type="text/ecmascript">
        $(document).ready(function () {
            $('#institutes').change(function () {
                var institutID = $(this).val();
                var url = "@Url.Action("GetGroup", "Group")/?institutionID=" + institutionID;
                $.ajax({
                type: "GET",
                url: url,
                dataType: "json",
                success: OnSuccess,
                error: OnError
            });
            });
            
            function OnSuccess(response)
            {
                $('#groups').empty();
                eval('var data=' + response)
                $.each(data, function(i, val)
                {
                     $('#groups').append(new Option(val.Name ,val.ID));
                });
            }
            
            function OnError()
            {
                alert('Something going wrong! Try again!');
            }
        });

    </script>
}
<legend>Регистрация</legend>
    @using (Html.BeginForm("StudentRegistration", "Account", FormMethod.Post, new {@class = "form-horizontal"}))
    {
        <div class="control-group">
            @Html.LabelFor(x => x.Username, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(x => x.Username, new {placeholder = "Логин"})
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.Password, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(x => x.Password, new {placeholder = "Пароль"})
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.ConfirmPassword, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(x => x.ConfirmPassword, new {placeholder = "Подтверждение пароля"})
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.Email, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(x => x.Email, new {placeholder = "Email"})
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.FirstName, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(x => x.FirstName, new {placeholder = "Фамилия"})
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.LastName, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(x => x.LastName, new {placeholder = "Имя"})
            </div>
        </div>
        <div class="control-group">
            @Html.Label("Учебное заведение", new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownList("Institution", Model.Institutions, new { name = "InstitutionID", placeholder = "Выберите учебное заведение", id = "InstitutionID" })
            </div>
        </div>
        <div class="control-group">
            @Html.Label("Группа", new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownList("GroupID", new SelectListItem[0], new {placeholder = "Выберите группу", id = "groups"})
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                @Html.ActionLink("Регистрация", "Register", "Account", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    }
