@model HomeTask.Core.ViewModels.SubjectListViewModel

@{
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}
@section header
{
    
}
<legend>Вы преподаете предметы</legend>
<a href="@Url.Action("Add", "TeacherSubject")">Добавить предмет</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>@Html.LabelFor(x => x.SubjectViewModels.FirstOrDefault().Name)</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @{ var index = 0;}
        @foreach (var subject in Model.ElementsForPage)
        {
            index++;
            <tr>
                <td>@index</td>
                <td>
                    @subject.Name
                </td>
                <td>
                    <a href="@Url.Action("Delete", "TeacherSubject", new { subjectID = subject.ID})">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal hide fade" id="modalWindow">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
    <a href="#" class="btn btn-primary"></a>
  </div>
</div>