@using System.Web.Mvc.Html
@using System.Web.UI.WebControls
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.css")" />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~Content/Scripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~Content/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~Content/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~Content/Scripts/bootstrap.min.js")"></script>
    <script type="text/javascript" >
        $(ducument).ready(function() {
            $('.modal-window-renderer').click(function (e) {
                e.preventDefault();
                var url = $(this).attr('href');
                $.get(url, function (data) {
                    $('#modalWindow').empty();
                    $('#modalWindow').html(data);
                    $('#modalWindow').modal('show');
                });
            });

            $('.close-modal-window').click(function (e) {
                e.preventDefault();
                $('#modalWindow').modal('hide');
            });


            $('.submit-form').live("onsubmit",function (e) {
                e.preventDefault();
                var url = $(this).attr('action');
                $.post(url, $(this).serialize(),
                    function (data) {
                        eval('var success=' + data);
                        if (success) {
                            $('#modalWindow').modal('hide');
                        } else {
                            alert("Ошибка! Что-то пошло не правильно...");
                        }
                    });
            });
        })
    </script>
    @this.RenderSection("header", false)
</head>
    <body>
    @{
        Html.RenderAction("GetMenu", "MainMenu"); 
    }
    <div class="container-fluid">
        <div class="row-fluid">
            @this.RenderBody()
        </div>
    </div>
</body>
</html>
